@use 'cards' as *;
@use 'mixins' as *; 
@use 'variables' as *;
@use 'typography' as *;

#fertility-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $primary-background;
    margin: $space-600 0;

    .fertility-container {
        @include container;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
            
        padding: 20px;
        gap: $space-400;


    }

    .content {
        max-width: 600px;
        
        h2 {
            font-family: $heading-font;
            color: $heading-color;
            margin-bottom: $space-200;
        }

        p {
            font-family: $body-font;
            color: $body-color;
            line-height: 1.6;
            margin-bottom: $space-300;
        }

        .button {
            display: inline-block;
            background-color: $button-background;
            color: #fff;
            padding: $space-200 $space-400;
            border-radius: 2rem;
            text-decoration: none;
            cursor: pointer;
            border: none;
            transition: background-color 0.3s ease;
            
            &:hover {
                background-color: $button-hover;
            }
        }
    }

    .image {
        width: 100%;
        
        img {
            width: 100%;
            height: auto;
            border-radius: $space-200;
            object-fit: cover;
            display: block;
        }
    }
}


@media (min-width: $breakpoint) {
    #fertility-section {
        .fertility-container {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            
            padding: 50px;
            gap: $space-600;
        }

        .content {
            flex: 1;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            padding-right: $space-400;
        }

        .image {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            img {
                width: 100%; 
                max-width: 600px;
            }
        }
    }
}
