@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

.blog-section {
    @include section-padding;
}

.blog-container {
    width: 90vw;
    margin: 0 auto;
}

.blog-header,
.blog-button {
    text-align: center;
}

.blog-button button {
    @include button;
}

.cards {
    @include flex-center;
    flex-wrap: wrap;
    gap: 3.5rem;
}

.card {
    width: 22rem;
}

.card img {
    height: 11.25rem;
}

.card.hide {
    display: none;
}

@media (min-width: $breakpoint) {

    .cards {
        row-gap: 2rem;
    }

    .card.hide {
        display: block;
    }

    .blog-header {
        padding-bottom: $space-700;
    }

    .blog-button {
        padding-top: $space-700;
    }

}