@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

.blog-section {
    @include section-padding;
    width: 90vw;
    margin: 0 auto;
}

.container-heading,
.card-button {
    text-align: center;
    padding-bottom: $space-600;
}

.card-button button {
    @include button;
    margin-top: $space-600;
}

.card img {
    height: 11.25rem;
}

@media (min-width: $breakpoint) {

    

    .cards {
        @include flex-center;
        flex-wrap: wrap;
        gap: 3.5rem;
    }

    .card {
        width: 22rem;
    }

}