@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

.cta-section {
    background-color: $secondary-background;
    padding: $space-800 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $space-500;

    h2 {
        font-family: $heading-font;
        font-weight: 900;
        color: $button-background;
        line-height: 1.2;
        margin: 0;
        font-size: 34px;
    }

    button {
        @include button;
        padding: 0 40px;
        width: 178px;
        height: 56px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: $breakpoint) {
    .cta-section {
        h2 {
            font-size: 50px;
        }
    }
}

@media (min-width: 75em) {
    .cta-section {
        h2 {
            font-size: 65px;
        }
    }
}
