/* 

Let's use variables for the spacing and colors
    - That means, we shouldn't see any hard coded sizes and colors
    - Like: 1.5rem, 2rem, #ffff, #fd3f etc...

*/

@use 'variables' as *;

//VALUE SECTION CARDS

$value-card-padding: 1.875rem;
$value-card-radius: 1rem;
$value-card-border-color: #f4ecf2;
$value-card-border-width: 1px;
$value-img: 10rem;

//FOR TABLET


$tablet-card-max-width: 45rem;


//DESKTOP

$desktop-cards-max-width: 90rem;
$value-desktop-card-size: 27.5rem;
$expect-img-desktop: 65rem;
// WHAT TO EXPECT
$expect-body-max-height: 40rem; 

//HIDE CARDS/CONTAINER
$expect-transition: 1 ease;


