/* 

Let's use variables for the spacing and colors
    - That means, we shouldn't see any hard coded sizes and colors
    - Like: 1.5rem, 2rem, #ffff, #fd3f etc...

*/

@use 'variables' as *;

//VALUE SECTION CARDS
$card-img-ratio: 260/170;
$value-card-padding: 1.875rem;
$value-card-radius: $space-300;
