/* 

Let's use variables for the spacing and colors
    - That means, we shouldn't see any hard coded sizes and colors
    - Like: 1.5rem, 2rem, #ffff, #fd3f etc...

*/

@use 'variables' as *;

//VALUE SECTION CARDS
$card-img-ratio: 260/200;
$value-card-padding: 1.875rem;
$value-card-radius: 1rem;
$value-card-border-color: #f4ecf2;
$value-card-border-width: 1px;

//FOR TABLET


$tablet-card-max-width: 45rem;
$value-tablet-img: 10rem;