@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

/* FOOTER */
footer {
  padding: $space-400 $space-200 0 $space-200;
  margin-top: $space-400;

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: $space-400;
    margin-bottom: $space-400;
    
    .column {
      display: flex;
      flex-direction: column;


      a {
        color: #4a4a4a;
        font-family: $body-font;
        font-size: 14px;
        margin: 5px 0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .legal {
    font-size: 12px;
    font-family: $body-font;
    color: #444;
    max-width: 850px;
    line-height: 1.5;
    margin-bottom: $space-300;
  }

  .footer-bottom {
    display: flex;
    justify-content: flex-start;
    margin-top: $space-200;
    padding-bottom: $space-400;

    .badges {
      display: flex;
      flex-wrap: wrap;
      gap: $space-200;

      img {
        height: 40px;
        width: auto;
      }
    }
  }
}

@media (min-width: $breakpoint) {
    footer {
        padding: $space-400 6% 0 3%;
        
        .footer-links {
            gap: 60px;
            margin-left: -20px;
        }
        
        .legal {
            margin-left: -20px;
        }
    }
}
.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

.footer-links .social-icons {
    margin-left: auto;
    display: flex;
    gap: 18px;
    align-items: center;
    padding-top: 10px;
}

.footer-links .social-icons img {
    width: 22px;
    height: 22px;
    opacity: 0.8;
    transition: 0.2s;
}

.footer-links .social-icons img:hover {
    opacity: 1;
}
