@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

.hero-section {
    @include section-padding;
    background-color: $hero-gradient-start; // Fallback
    background-image: linear-gradient(to bottom, $hero-gradient-start, $hero-gradient-end);
    padding-top: $space-400;
}

.hero-container {
    @include container;
    @include flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.hero-info h1 {
    font-size: $hero-mobile-h1;
    font-family: $heading-font;
}

.hero-info h4 {
    margin: $space-100 0 $space-400 0;
}

.hero-info,
.hero-image {
    text-align: center;
    max-width: 28rem;
}


@media (min-width: $breakpoint-tablet) {

    .hero-section {
        padding-top: $space-500;
    }

    .hero-info h1 {
        font-size: $hero-mobile-h1-50;
    }

    .hero-info,
    .hero-image {
        max-width: 53rem;
    }

}


@media (min-width: $breakpoint-desktop) {

    .hero-container {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .hero-info {
        text-align: left;
        width: 45%; 
        margin-top: 0;
    }

    .hero-info h1 {
        line-height: $hero-desktop-line-height;
        font-size: $desktop-h1-size;
        margin-bottom: 0;
    }

    .hero-image {
        width: 50%;
    }

    .hero-info h4 {
        padding: 0;
        margin-bottom: $space-400;
    }

}

@media (min-width: $breakpoint-desktop-large) {
    .hero-container {
        padding: 0 $space-400;
    }
}