@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

.hero-section {
    @include section-padding;
    @include flex-start;
    background-color: $hero-background; // for browsers that don't support gradient
    background-image: linear-gradient(to bottom, $hero-background, $primary-background);
    padding: 7rem 7rem;
}

.hero-info {
    width: 40%;
    padding-top: 1rem;
}

.hero-image {
    width: 60%;
}

.hero-info h1 {
    font-size: 6rem; // change in variables
    font-weight: 400; // change in variables
    font-family: $heading-font;
    line-height: 5rem;
    margin-bottom: 0;
}

.hero-info h4 {
    font-size: 2rem; // change in variables
    font-weight: 500; // change in variables
    font-family: $heading-font;
    line-height: 2rem;
    padding: 0;
    margin-bottom: 2rem;
}

.hero-info button {
    color: #fff; // change in variables
    border: none; // change in variables
    padding: 1rem 2.5rem;
    border-radius: 30px;
    font-family: $heading-font;
    font-size: 1.5rem;
}