@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

.hero-section {
    @include section-padding;
    @include flex-start;
    background-color: $hero-background; // for browsers that don't support gradient
    background-image: linear-gradient(to bottom, $hero-background, $primary-background);
    padding: $space-800;
}

.hero-info h1 {
    margin-bottom: 0;
}

.hero-info h4 {
    padding: 0;
    margin-bottom: 2rem;
}


@media (min-width: $breakpoint) {
    
    .hero-info {
    width: 40%;
    padding-top: $space-200;
    }

    .hero-image {
        width: 60%;
    }

}