@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;
@use 'cards' as *;
#map-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: $space-200;
  border: 1px solid $button-hover;
  margin: $space-200 auto;
  text-align: center;
max-width: $desktop-cards-max-width;
  
  img{
    height:170px;
  }
}

// Desktop Styles
@media (min-width: $breakpoint) {
  #map-section {
    img{
      height:auto;
      width:530px;
    }
  }
}
