@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

#map-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: $space-200;
  border: 1px solid $button-hover;
  margin: $space-200;
  text-align: center;

  img{
    height:170px;
  }
}

.map-text {
    text-align: center;
    h1 {
      
    }
  }

// Desktop Styles
@media (min-width: $breakpoint) {
  #map-section {
    img{
      height:auto;
      width:530px;
    }
  }
}
