@use 'variables' as *;
@use 'typography' as *;


@mixin section-padding {
    padding: 4.6875rem 0;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
}

@mixin flex-start {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 1.5rem;
}

@mixin flex-column-center {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

@mixin button {
    background-color: $button-background;
    color: $button-text-color;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    font-family: $button-font;
    font-size: $button-size;
    
    &:hover {
        background-color: $button-hover;
    }
}

