@use 'variables' as *;


@mixin section-padding {
    padding: 4.6875rem 0;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
}

@mixin flex-start {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 1.5rem;
}