/* 

This is where we can style our Fonts:
    - Font sizes
    - Font weights
    - Font colors
    - Font families
    - etc...

*/


/* Let's use colors, and spaces for the font sizes here */
@use 'variables' as *;

// font styles
$heading-font: 'Cormorant Garamond', serif;
$body-font: 'Inter', sans-serif;
$button-font: 'Cormorant Garamond', serif;

// line heights
$body-line-height: 1.5rem;
$h1-line-height: 3rem;
$subheading-line-height: 2.5rem;

// font sizes
$body-size: 1rem;
$button-size: 1.5rem;

$mobile-h1-size: 3rem;
$mobile-h2-size: 2.75rem;
$mobile-h3-size: 2.25rem;
$mobile-h4-size: 2rem;

$desktop-h1-size: 5rem;
$desktop-h2-size: 3.5rem;
$desktop-h3-size: 2.5rem;
$desktop-h4-size: 2rem;

// font weight
$h1-weight: 450;
$subheading-weight: 350;

// font colors
$heading-color: #0a4a73;
$body-color: #2e3133;
$cards-body-color: #63696e;
$button-text-color: #ffffff;
$customer-name-color: #515461;

// link colors
$link-color: #0a4a73;
$link-hover: #2C6D96;

// blog section
$blog-mobile-heading: 1.75rem;
$blog-heading-line-height: 1.75rem;
$blog-desktop-heading: 3.5rem;
// hero section
$hero-mobile-h1: 2.5rem;
$hero-mobile-h1-50: 4rem;
$hero-desktop-line-height: 4.5rem;
$hero-desktop-padding: 6rem;
