/* 

This is where we can style our Fonts:
    - Font sizes
    - Font weights
    - Font colors
    - Font families
    - etc...

*/


/* Let's use colors, and spaces for the font sizes here */
@use 'variables';