/* 

This is where we can style our Fonts:
    - Font sizes
    - Font weights
    - Font colors
    - Font families
    - etc...

*/


/* Let's use colors, and spaces for the font sizes here */
@use 'variables';

// font styles
$heading-font: 'Cormorant Garamond', sans-serif;
$body-font: 'Inter', sans-serif;

// line heights
$body-line-height: 1.5rem;
$h1-line-height: 3.4375rem;
$subheading-line-height: 1.5rem;

// font sizes
$mobile-h1-size: 2rem;
$mobile-h2-size: 2rem;
$mobile-h3-size: 1.6875rem;
$mobile-h4-size: 1.4375rem;
$mobile-body-size: 1rem;

$desktop-h1-size: 3.125rem;
$desktop-h2-size: 2.5rem;
$desktop-h3-size: 1.6875rem;
$desktop-h4-size: 1.4375rem;
$desktop-body-size: 1rem;

// font colors
$heading-color: #0a4a73;
$body-color: #2e3133;
$cards-body-color: #63696e;
$button-text-color: #0a4a73;
$customer-name-color: #515461;