@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;
@use 'cards' as *;

.values-section {
@include section-padding;


h2 {
    text-align: center;
    margin-bottom: $space-400;
}


.cards{
@include flex-column-center;
padding: 0 $value-card-padding;
gap: $space-300;

  
}
.card{
    @include flex-column-center;
    background-color: $primary-background;
    border: $value-card-border-width solid $value-card-border-color;
    border-radius: $value-card-radius;
    padding: $space-300;
    text-align:center;
  
    
    h3 {
        font-size: $mobile-h3-size; 
        margin-top: $space-100;
    }

    p {
        margin-top: $space-100;
     }
}
   .card img{
    max-width: 100%;
    width: auto;
    max-height: $value-img;
    object-fit: contain;
}

}

@media (min-width: $breakpoint) {
    .values-section  {

        .cards{

           max-width: $tablet-card-max-width;
            margin: 0 auto;
        }

        .card img {
                width: auto;
                max-width: 100%;
                max-height:$value-img;
                object-fit:contain;
            }

            width: 100%;
            max-width: $tablet-card-max-width;

            h3,
            p {
                margin: 0;
            }

            h3{
                margin-bottom: $space-300;
            }
        

        }

    @media (min-width: $desktop-breakpoint){
        
        .values-section{
           max-width: $desktop-cards-max-width;
           margin: 0 auto;

            .cards{
                @include flex-row-center;
                max-width: $desktop-cards-max-width;
                margin: 0 auto;
                padding: 0;
                
            }

            .card {
                width: $value-desktop-card-size;
                height: $value-desktop-card-size;
                overflow: hidden;
                flex-shrink: 0;
               
                
            }
        }
    }
        
    }


