@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

.values-section {
    background-color: $primary-background;
    @include section-padding;

    h2 {
        text-align: center;
        margin-bottom: $space-400;
        color: $heading-color;
        font-family: $heading-font;
    }
}

.values-container {
    @include container;
}


.values-cards {
    display: flex;
    flex-direction: column;
    gap: $space-400;
    align-items: center;
}

.values-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 30rem;
    background-color: $primary-background;
    border: 1px solid #f4ecf2;
    border-radius: 1rem;
    padding: $space-400 $space-300;
    margin: $space-200;

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: $space-200;
        max-height: 12rem;
    }

    h3 {
        font-family: $heading-font;
        font-size: $mobile-h3-size;
        margin-bottom: $space-100;
        color: $heading-color;
    }

    p {
        font-family: $body-font;
        color: $body-color;
        line-height: $body-line-height;
    }
}


@media (min-width: $breakpoint-desktop) {
    .values-cards {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: $space-400;
    }

    .values-card {
        flex: 1;
        max-width: none;
    }
}
