@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;
@use 'cards' as *;

.values-section {
@include section-padding;


h2 {
    text-align: center;
    margin-bottom: $space-400;
}


.cards{
@include flex-column-center;
padding: 0 $value-card-padding;
gap: $space-300;

  
}
.card{
    @include flex-column-center;
    background-color: $primary-background;
    border: $value-card-border-width solid $value-card-border-color;
    border-radius: $value-card-radius;
    padding: $space-300;
    text-align:center;
  
    
    h3{

        font-size: $mobile-h3-size; 
        margin-top: $space-100;
    }

  p{

 margin-top: $space-100;
   

  }
}
img{
    width: 100%;
    aspect-ratio: $card-img-ratio;
    object-fit: contain;
}

}

@media (min-width: $breakpoint) {
    .values-section {

        .cards{

           max-width: $tablet-card-max-width;
            margin: 0 auto;
        }

        .card{

            h3,
            p {
                margin: 0;
            }

            h3{
                margin-bottom: $space-300;
            }
            width: 100%;
            max-width: $tablet-card-max-width;

            img {
                max-height:$value-tablet-img;
                object-fit:contain;
            }


        }
    }
}
