@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;
@use 'cards' as *;

.values-section {
@include section-padding;

h2 {
    text-align: center;
    margin-bottom: $space-400;
}


.cards{
@include flex-column-center;
padding: 0 $value-card-padding;
  
}
}