/* Background Colors */
$primary-background: #ffffff;
$secondary-background: #fffaf4;
$hero-background: #FDFBE6; 
$hero-gradient-start: #f2f7d6;
$hero-gradient-end: #ffffff;
$video-background: #F1F6D1;
$expect-background: #faf2e8;
$reviews-background: #f6fae7;
$button-background: #0a4a73;
$button-hover: #2C6D96;
$border-color: #d4d4d4;

/* Spaces */ 
$space-100: .5rem;
$space-200: 1rem;
$space-300: 1.5rem;
$space-400: 2rem;
$space-500: 3rem;
$space-600: 4rem;
$space-700: 5rem;
$space-800: 7.5rem;
$space-900: 9rem;

/* Media Query */ 
$breakpoint: 50rem;
$breakpoint-tablet: 50rem;
$breakpoint-desktop: 75rem;
$breakpoint-desktop-large: 80rem;
$desktop-breakpoint: 120rem;

/* Border Radius */ 
$video-border: 2rem;
