/* 
Our Variables goes here.

Let's put the colors, fonts, and spaces here
and we use the those variables for our styles. 

Let's avoid Hard coded colors, fonts, and size.
It's just a way for having clean code and consistency
for the styles.
*/


/* Background Colors */
$primary-background: #ffffff;
$secondary-background: #fffaf4; // what to expect, footer, toggled navigation
$hero-background: #F2F7D7; // hero
$video-background: #F1F6D1; // video
$expect-background: #faf2e8; // what to expect
$reviews-background: #f6fae7; // reviews

/* Buttons */
$button-background: #0a4a73;
$button-hover: #2C6D96;

/* Spaces */ 
$space-100: .5rem;
$space-200: 1rem;
$space-300: 1.5rem;
$space-400: 2rem;
$space-500: 3rem;
$space-600: 4rem;
$space-700: 5rem;
$space-800: 7.5rem;

/* Media Query */ 
$breakpoint: 64rem;