/* 
Our Variables goes here.

Let's put the colors, fonts, and spaces here
and we use the those variables for our styles. 

No Hard coded colors, fonts, and size please.
It's just a way for having clean code and consistency
for the styles.
*/


/* Colors */
$bg-color: white; /* example of variable */

/* Fonts */

/* Spaces */
$space-100: .5rem;
$space-200: 1rem;
$space-300: 1.5rem;
$space-400: 2rem;
$space-500: 3rem;
$space-600: 4rem;
$space-700: 5rem;
$space-800: 7.5rem;