@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;


.video-section {
    background-color: $video-background;
    width: 95vw;
    margin: 0 auto;
    border-radius: $video-border;
    padding: $space-100;
}

.video-section h3 {
    text-align: center;
}

.video {
    position: relative;
    padding-top: 56%;
    height: 0rem;
    overflow: hidden;
    border-radius: $space-200; // differs from usual
}

.video iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


@media (min-width: $breakpoint) {

    .video-section {
        margin-top: $space-500;
        padding-bottom: $space-700;
    }

    .video-section h3 {
        padding: $space-200 0;
    }

    .video {
        width: 65vw;
        margin: 0 auto;
        padding-top: 39%;
        height: 0rem;
        overflow: hidden;
        border-radius: $video-border;
    }

}