@use 'variables' as *;
@use 'typography' as *;
@use 'mixins' as *;

.video-section {
    background-color: $video-background;
    padding: $space-500 $space-200;
    margin: $space-600 auto;
    width: calc(100% - #{$space-400});
    max-width: 90rem;
    border-radius: $video-border;
}

.video-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.video-section h3 {
    text-align: center;
    color: $heading-color;
    margin-bottom: $space-400;
    max-width: 40rem;
    line-height: $subheading-line-height;
    font-weight: $subheading-weight;
    font-family: $heading-font;
}

.video {
    position: relative;
    width: 100%;

    padding-top: 56.25%; 
    height: 0;
    overflow: hidden;
    border-radius: $video-border;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: $breakpoint-tablet) {
    .video-section {
        padding: $space-600 $space-400;
        margin-top: $space-800;
        margin-bottom: $space-800;
    }

    .video {
        width: 80%;
        padding-top: calc(80% * 0.5625); 
    }
}

@media (min-width: $breakpoint-desktop) {
    .video {
        width: 70%;
        padding-top: calc(70% * 0.5625);
    }
}